# macOS
.DS_Store

# Logs
logs
*.log
*.log.*

# Environment variables - NEVER COMMIT
.env
*.env
*/.env
urban-explore/pois-manager/.env

# Database files
*.db
*/*.db
urban-explore/pois-manager/*.db

# Virtual environments
.venv/

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Others
*.swp
*.swo
*.bak
*.tmp

*.csv